<header class="site-header">

  <div class="wrapper">

    <div class="site-title">
      <a href="{{ site.baseurl }}/"><h1>Ignasi Ribó</h1></a>
    </div>

    <nav class="site-nav">

      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        <a class="page-link" href="{{ site.baseurl }}/">books</a>
        <a class="page-link" href="{{ site.baseurl }}/texts">texts</a>
        <a class="page-link" href="{{ site.baseurl }}/about">about</a>

      </div>
    </nav>

  </div>

</header>
